<app-meu-btn></app-meu-btn>
<br>
<br>
<button [disabled] = "btnDisabled">Botão Desabilitado</button>
<br>
<br>
<button type="button" (click)="mudarCor($event)">Colorido</button>
<br>
<br>
<button id="idBotao" (click)="click($event)">Id do Botão</button>
<br>
<br>
<select (change)="pegarValorSelect($event)">
  <option value="Carro">Carro</option>
  <option value="Moto">Moto</option>
  <option value="Avião">Avião</option>
</select>
<p>{{valorSelect}}</p>
<input type="text" placeholder="Informe um valor" (keyup)="valorPeloInput($event)">
<p>{{paragrafo}}</p>

<form>
  <input type="text" placeholder="Informe o Valor" #meuInput>
  <input type="button" value="enviar" (click) ="(submeterForm(meuInput.value))">
</form>
<p>{{paragrafoForm}}</p>
<br>
<hr>
<input type="text" placeholder="Valor para mover a caixa" #valorMover>
<button type="button" (click)="pegarValorMoverDiv(valorMover.value)">Enviar</button> <br>

<div class="caixa" [ngStyle]="style">

</div>

<br>
<select (change)="moverHerois($event)">
  <option *ngFor="let hero of heroes" >
    {{hero.nome}}
  </option>
</select>
<br>
<ul>
  <ng-container *ngFor="let hero of heroes">
  <li *ngIf="hero.mostrar === true">
    {{hero.nome}}
  </li>
  </ng-container>
</ul>
<br>
<br>
<input type="number" placeholder="Par ou impar" ><button type="button">Enviar</button>
<div></div>




